/*typed.js*/
body {
		background-color: #000
	}
	#console {
		font-family: courier, monospace;
		color: #fff;
		width:750px;
		margin-left:auto;
		margin-right:auto;
		margin-top:100px;
		font-size:14px;
	}
	a {
		color: #0bc;
		text-decoration: none;
	}
	#a {
		color: #0f0;
	}
	#c {
		color: #0bc;
	}
	#b {
		color: #ff0096;
	}
p{
	font-size: 30px;
	
	
	text-align: center;
}

.wrap{
	max-width: 600px;
	margin:150px auto;
	text-align: center;
}

.type-wrap{
	font-size: 40px;
	color: rgb(226,149,232);
	padding:60px;
	
}